<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Spot</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="icon" type="image/png" href="/img/favicon.png" />
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div class="head">
	<h1><a href="/">Spot fake News</a></h1>
	<img id="logo" alt="logo" src="/img/logo.png" />
</div>

	{{{body}}}

</body>
</html>
