<div class="left">
	<h2> Content Scan </h2>
	<div id="myChart" width="400" div="400"></div>
</div>
<div class="right">
	<h2> Image Scan </h2>
	<img src={{json.first_images_in_page.[0]}}>
	<ul class="similar_images">
  {{#each json.similar_images }}
    <li><img src={{this}}></li>
  {{/each}}
	</ul>
</div>
<script>
$(document).ready(function() {
    var options = {
		chart: {
	        polar: true,
					backgroundColor: '#EFEFEF',
					style: {
            fontFamily: 'Spot'
        },
	        type: 'column'
	   },
		title: {
			text: 'Pollution selon Airparif'
		},
		pane: {
			size: '85%'
		},
		xAxis: {
			categories: ['Hier', 'Jour', 'Demain']
		},
		yAxis: {
			title: {
				text: 'Indice'
			}
		},
		series: [{
			name: 'polution',
			threshold: 2,
			color: {
            linearGradient: [0, 0, 0, 500],
            stops: [
                [0, 'rgb(255, 255, 255)'],
                [1, 'rgb(100, 100, 155)']
            ]
			},
			data: [0.43, 0.24, .42]
		}]
    };
    $.getJSON('http://www.airparif.asso.fr/appli/api/indice', function(data) {
			options.series[0].name = "Paris";
			options.series[0].data = [data[0]['indice'], data[1]['indice'], data[2]['indice']];
        	var chart = new Highcharts.Chart('myChart', options);
    });
});
</script>
