<div class="left">
	<h2> Content Scan </h2>
	<h3>Here is what our AI think about this article's content</h3>
	<div id="myChart" width="600" div="600"></div>
</div>
<div class="right">
	<h2> Image Scan </h2>
	<h3>Here is the main image in this article</h3>
	<img src={{json.first_images_in_page.[0]}}>
	<h3>Here are similar images</h3>
	<ul class="similar_images">
  {{#each json.similar_images }}
    <img class="list" src={{this}}>
  {{/each}}
	</ul>
</div>
<script>
$(document).ready(function() {
    var options = {
		chart: {
	        polar: true,
					backgroundColor: '#EFEFEF',
					style: {
            fontFamily: 'Spot',
						fontSize: 'large' 
        },
	        type: 'column'
	   },
		title: {
			text: 'Title'
		},
		pane: {
			size: '90%'
		},
		xAxis: {
			categories: ['BS', 'Mostly False', 'No Factual Content', 'Satire', 'Junksci', 'State', 'Bias', 'Mixture of True and False', 'Fake', 'Mostly True', 'Hate', 'Conspiracy']
		},
		yAxis: {
				min: 0,
				max: 1
		},
		series: [{
			name: 'Confidence rate',
			type: 'area',
			color: '#ffc615',
			data: [0.43, 0.24, 0.42]
		}]
    };
		site = '{{url}}';
    $.getJSON('http://146.148.26.189:5000/api/get?url_input_page2=' + site, function(data) {
			options.title = [data['title']];
			options.series[0].data = [data['bs'] * 10, data['mostly false'] * 10, data['no factual content'] * 10,
		data['satire'] * 10, data['junksci'] * 10, data['state'] * 10,
	data['bias'] * 10, data['mixture of true and false'] * 10, data['fake'] * 10, data['mostly true'] * 10, data['hate'] * 10,
	data['conspiracy'] * 10];
        	var chart = new Highcharts.Chart('myChart', options);
    });
});
</script>
