<div class="left">
	<p> Hello Left</p>
	<canvas id="myChart" width="400" height="400"></canvas>
</div>
<div class=right>
	<p> Hello Right </p>
</div>
<script>
$(function () {
    $('#myChart').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }],
    });
});
</script>
