<div class="left">
	<p> Hello Left</p>
	<div id="myChart" width="400" div="400"></canvas>
</div>
<div class="right">
	<p> Hello Right </p>
	<img src={{json.first_images_in_page.[0]}}
</div>
<script>
$(document).ready(function() {
    var options = {
		chart: {
			type: 'bar'
		},
		title: {
			text: 'Pollution selon Airparif'
		},
		xAxis: {
			categories: ['Hier', 'Jour', 'Demain']
		},
		yAxis: {
			title: {
				text: 'Indice'
			}
		},
		series: [{
			name: 'polution',
			data: [0.43, 0.24, .42]
		}]
    };
    $.getJSON('http://www.airparif.asso.fr/appli/api/indice', function(data) {
			options.series[0].name = "Paris";
			options.series[0].data = [data[0]['indice'], data[1]['indice'], data[2]['indice']];
        	var chart = new Highcharts.Chart('myChart', options);
    });
});
</script>
