@font-face {
	font-family: LV;
	src: url("/font/LouisVuitton-Medium.otf") format("opentype");
}

@font-face {
	font-family: LVReg;
	src: url("/font/LouisVuitton-Regular.otf") format("opentype");
}

body {
	font-family: LV, sans-serif;
	margin : 0;
	background-color: #FFFFFF;
}

h1 {
	text-align: center;
	color: #BFA69A;
}

a {
	text-decoration: none;
	color: #BFA69A;
}

h2 {
	color: #533F34;
}

.center {
	margin: 0px auto;
	width: 130px;
	display: none;
}

#loader {
	background-color: #BFA69A;
	margin: 0px auto;
	width: 75%;
	height: 5%;
	text-align: center;
	text-decoration: none;
	padding: 0px 22px;
}

#logo {
	width: 5%;
	margin: 0px auto;
	text-align: center;
	display: block;
}

.head {
	margin-top: 0px;
	margin-bottom: 10%;
	padding: 30px;
	background-color: #221616;
}

.result {
	text-align: center;
}

.documentdb {
	width: 50%;
	float: left;
	clear: none;
	background-color: #D8D8D8;
	margin-bottom: 10%;
}

.salesforce {
	width: 50%;
	float: left;
	clear: none;
	background-color: #D8D8D8;
	margin-bottom: 10%;
}

.show {
	background-color: #BFA69A;
	font-family: LVReg, sans-serif;
	font-size: 20px;
	border: none;
	margin: 0px auto;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
}

.details {
	display: none;
}

.visual {
	margin: 5%;
}

input[type=text] {
	width: 40%;
	font-family: LVReg, sans-serif;
	font-size: 1em;
	display: block;
	padding: 12px 20px;
	margin: 0px auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: #BFA69A;
	font-family: LVReg, sans-serif;
	font-size: 1.3em;
	border: none;
	margin: 0px auto;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
}

input[type=submit]:hover {
	color: #BFA69A;
	background-color: #533F34;
	cursor: pointer;
}
