@font-face {
	font-family: Lugos-Regular;
	src: url("/font/Lugos-Regular.otf") format("opentype");
}

@font-face {
	font-family: Coolvetica;
	src: url("/font/coolvetica rg.ttf") format("opentype");
}

body {
	font-family: Coolvetica, sans-serif;
	margin : 0;
	background-color: #EFEFEF;
}

h1 {
	text-align: center;
	color: #FFFFFF;
}

a {
	text-decoration: none;
	color: #EFEFEF;
}

h2 {
	color: #5434c6ff;
}

.center {
	margin: 0px auto;
	width: 130px;
	display: none;
}

#logo {
	width: 5%;
	margin: 0px auto;
	text-align: center;
	display: block;
}

.head {
	margin-top: 0px;
	margin-bottom: 10%;
	padding: 30px;
	background-color: #5434c6;
}

.result {
	text-align: center;
}

input[type=text] {
	width: 40%;
	font-family: Coolvetica, sans-serif;
	font-size: 1em;
	display: block;
	padding: 12px 20px;
	margin: 0px auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: #2E2F30;
	font-family: Coolvetica, sans-serif;
	font-size: 1.3em;
	border: none;
	margin: 0px auto;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
}

input[type=submit]:hover {
	color: #EFEFEF;
	background-color: #5434c6;
	cursor: pointer;
}
